        <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 page-header">
                            <h2 class="page-title">RARRAS SUPER TIENDAS S.A DE C.V </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <h5 class="card-header">BIENVENID@</h5>
                                        <div class="card-body">
                                            <div class="d-flex p-2 justify-content-center" >
                                                <img src="/assets/img/store.png"  width="600" height="600"  class="img-fluid" alt="logo index">
                                            </div>
                                             <div class="d-flex p-2 justify-content-center" >
                                                <p>Todos los Derechos Reservados © 2022</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
        </div>
        