   <div class="wrapper">
      
        <div class="auth-content">
            
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <img class="brand" src="/assets/img/logorarras.png" alt="bootstraper logo" width="120">
                    </div>
                    <h6 class="mb-4 text-muted">Acceso al sistema</h6>
                    <form action="/signin" method="POST">
                        <div class="mb-3 text-start">
                            <label for="user" class="form-label" name="user">Nombre de Usuario:</label>
                            <input type="text" class="form-control" name="user" placeholder="Ingresa Usuario" required>
                        </div>
                        <div class="mb-3 text-start">
                            <label for="password" class="form-label" name="password">Contraseña</label>
                            <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
                        </div>
                  
                        <button class="btn btn-primary shadow-2 mb-4">Acceder</button>
                    </form>
                    <p class="mb-2 text-muted">¿No tienes una cuenta? <a href="#" id="info">Contacto</a></p>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/notificacionindex.js"></script>